*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
}

body.desktop-mode {
  overflow: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}
